.vs
.vscode/*
Debug/
 
#Imgui 
BoxerUI/header/imgui/*
!/*BoxerUI/header/imgui/*.cpp
!/*BoxerUI/header/imgui/*.h

!/*BoxerUI/header/imgui/backends/
BoxerUI/header/imgui/backends/*
!BoxerUI/header/imgui/backends/imgui_impl_glfw*
!BoxerUI/header/imgui/backends/imgui_impl_opengl3*

!/*BoxerUI/header/imgui/examples/
BoxerUI/header/imgui/examples/*
!/*BoxerUI/header/imgui/examples/libs/
BoxerUI/header/imgui/examples/libs/*
!/*BoxerUI/header/imgui/examples/libs/gl3w/
!/*BoxerUI/header/imgui/examples/libs/glfw/
BoxerUI/header/imgui/examples/libs/glfw/lib-vc2010-32/
BoxerUI/header/imgui/examples/libs/glfw/COPYING.txt


#Implot
BoxerUI/header/implot/LICENSE
BoxerUI/header/implot/README.md

build/*
# !/*build/BoxerUI_app


