.vs
.vscode/*
Debug/



BoxerUI/libs/cereal/*

#Imgui
BoxerUI/libs/imgui/*
!/*BoxerUI/libs/imgui/*.cpp
!/*BoxerUI/libs/imgui/*.h

!/*BoxerUI/libs/imgui/backends/
BoxerUI/libs/imgui/backends/*
!BoxerUI/libs/imgui/backends/imgui_impl_glfw*
!BoxerUI/libs/imgui/backends/imgui_impl_opengl3*

!/*BoxerUI/libs/imgui/examples/
BoxerUI/libs/imgui/examples/*
!/*BoxerUI/libs/imgui/examples/libs/
BoxerUI/libs/imgui/examples/libs/*
!/*BoxerUI/libs/imgui/examples/libs/gl3w/
!/*BoxerUI/libs/imgui/examples/libs/glfw/
BoxerUI/libs/imgui/examples/libs/glfw/lib-vc2010-32/
BoxerUI/libs/imgui/examples/libs/glfw/COPYING.txt


#Implot
BoxerUI/libs/implot/LICENSE
BoxerUI/libs/implot/README.md


# !/*build/BoxerUI_app

# GLFW
glfw
glfw-build/

BoxerUI/src/camera_stream.cpp

build/*
BoxerUI/imgui.ini